APScheduler==3.6.3
firebase-admin==6.5.0
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.36.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
numpy==1.21.6  # Compatible with Python 3.9
pillow==11.0.0
python-telegram-bot==13.15
requests==2.32.3
tornado==6.1